<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaique Silva - Portifólio</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- feather icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Meu CSS -->
    <link rel="stylesheet" href="./css/main.css" />
    <!-- MEU SCRIPT JS -->
    <script src="./js/main.js"></script>
</head>

<body class="content">
    <section style="margin-top: 5px;" class="dark" id="curriculo">
        <div class="center">
            <h3>Currículo</h3>
            <a href="./img/CV - KAIQUE SOUZA SILVA .pdf" download>
                <div class="social" style="width:200px !important;color:white;">
                    <i data-feather="download" color="white" style="margin-right:5px"></i>BAIXAR CURRÍCULO
                </div>
            </a>
        </div>

    </section>
    <section style="margin-top: 5px;margin-bottom:40px" class="dark" id="contato">
        <div class="center">
            <h3>CONTATO</h3>
            <div class="contato">
                <p>Se você quiser conversar ou saber mais alguma informação, entre em contato.</p>
                <p style="margin-top: 40px;">
                    <i class="material-icons left">email</i>kaiquesouzasilva11@gmail.com
                </p>
                <p>
                    <a href="https://api.whatsapp.com/send/?phone=5515991106262&text=Olá Kaique" target="_blank"
                        style="color:white"><i class="material-icons left ">phone</i>(15)99110-6262</a>
                </p>
            </div>
        </div>
    </section>
    <a href="/tecnologias">
        <div class="buttonPage pageLeft">
            <i data-feather="chevron-left" color="white" ></i>
        </div>
    </a>
    <script>
        feather.replace()
    </script>
</body>

</html>