<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaique Silva - Portifólio</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- feather icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Meu CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- MEU SCRIPT JS -->
    <script src="js/main.js"></script>
</head>

<body>
    <section class="darkBg content"  id="data">
        <div class="center">
            <h3 style="color: white;">SOBRE</h3>
        </div>
        <div class="row center wrap" style="justify-content: center;flex-wrap: wrap;">
            <img src=" ./img/neonV.png" class="avatar" />
            <div class="cardInfo">
                <h3 style="margin-top: 0px;">Kaique Souza Silva</h3>
                <p>
                    Sempre teve grande afinidade com tecnologia e muito curioso desde jovem. Aos 16 anos decidiu
                    cursar Técnico em Informática
                    na Etec Fernando Prestes, formando-se em 2018 onde início sua carreira como desenvolvedor.
                </p>
                <p>
                    Seus primeiros projetos foram como FreeLancer, desenvolvendo sistemas e websites.
                    Após iniciar o curso de Análise e Desenvolvimento de Sistemas na Fatec Sorocaba em 2019, ele
                    entrou para empresa
                    Beetech, Sistemas de Gestão Empresarial, como desenvolvedor front-end. Hoje com 20 anos,
                    continua nela
                    como desenolvedor FullStack,
                    trabalhando com as principais tecnologias do mercado, como: Vue, Nuxt, React Native, Node Js e
                    Sql Server.
                </p>
                <p>
                    Sendo um apaixonado por tecnologia e sempre buscando melhorar como profissional e
                    desenvolvedor.
                </p>
            </div>
        </div>
    </section>
    <a href="/">
        <div class="buttonPage pageLeft">
            <i data-feather="chevron-left" color="white" ></i>
        </div>
    </a>
    <a href="/tecnologias">
        <div class="buttonPage pageRight">
            <i data-feather="chevron-right" color="white" ></i>
        </div>
    </a>
    <script>
        feather.replace()
    </script>
</body>

</html>