<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaique Silva - Portifólio</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- feather icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Meu CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- MEU SCRIPT JS -->
    <script src="js/main.js"></script>
</head>

<body>
    <div class="bg">
        <section class="headerInfo">
            <h1>Kaique Silva</h1>
            <h4>Fullstack Developer</h4>
            <div class="row" style="margin-top:10px">
                <a href="https://github.com/DevKaiqueSilva" target="_blank">
                    <div class="social">
                        <i data-feather="github" color="white"></i>
                    </div>
                </a>
                <a href="https://www.linkedin.com/in/kaiquessouza/" target="_blank">
                    <div class="social">
                        <i data-feather="linkedin" color="white"></i>
                    </div>
                </a>
                <a href="https://www.instagram.com/k41que/" target="_blank">
                    <div class="social">
                        <i data-feather="instagram" color="white"></i>
                    </div>
                </a>

            </div>
        </section>
    </div>
    <!-- <a>
        <div class="buttonPage pageLeft">
            <i data-feather="chevron-left" color="white" ></i>
        </div>
    </a> -->
    <a href="/sobre">
        <div class="buttonPage pageRight">
            <i data-feather="chevron-right" color="white" ></i>
        </div>
    </a>
    <script>
        feather.replace()
    </script>
</body>

</html>