<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kaique Silva - Portifólio</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- feather icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Meu CSS -->
    <link rel="stylesheet" href="./css/main.css" />
    <!-- MEU SCRIPT JS -->
    <script src="./js/main.js"></script>
</head>

<body>
    <section style="margin-top: 5px;" class="dark content" id="tecnologias">
        <div class="center">
            <h3>TECNOLOGIAS</h3>
        </div>
        <div class="row content" style="justify-content: center;flex-wrap: wrap;margin:0px">
            <div class="center" style="margin:10px">
                <img src="./img/vue2.png" class="tec" />
                <h5>VUE</h5>
            </div>
            <div class="center" style="margin:10px">
                <img src="./img/react2.png" class="tec" />
                <h5>REACT-NATIVE</h5>
            </div>
            <div class="center" style="margin:10px">
                <img src="./img/node2.png" class="tec" />
                <h5>NODE</h5>
            </div>
            <div class="center" style="margin:10px">
                <img src="./img/sql2.png" class="tec" />
                <h5>SQL SERVER</h5>
            </div>
            <div class="center" style="margin:10px">
                <img src="./img/nuxt2.png" class="tec" />
                <h5>NUXT</h5>
            </div>
            <div class="center" style="margin:10px">
                <img src="./img/c2.png" class="tec" />
                <h5>C#</h5>
            </div>
        </div>
    </section>
    <a href="/sobre">
        <div class="buttonPage pageLeft">
            <i data-feather="chevron-left" color="white" ></i>
        </div>
    </a>
    <a href="/contato">
        <div class="buttonPage pageRight">
            <i data-feather="chevron-right" color="white" ></i>
        </div>
    </a>
    <script>
        feather.replace()
    </script>
</body>

</html>