body{
    width: 500px;
    margin: auto;
    background-color: #f1f1f1;
}

h1,h2{
    text-align: center;
}
label{
    font-size: 20px;
}
select{
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 17px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
